* {
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: 'Firamono';
    src: url(../fonte/FiraMono-Medium.ttf) format(truetype);
}
:root {
    --body-bg: linear-gradient(
        90deg,
    rgb(33, 130, 191)0%,
    rgb(137, 121, 242)100%
    );
    --lua-color: rgb(0, 0, 0);
    --body-color: rgb(255, 255, 255);
    --link-color: rgb(250, 250, 250);
    --link-color-hover: #ff8471;
    --menu-bg: linear-gradient(
        90deg,
    rgb(137, 121, 242)0%,
    rgb(33, 130, 191)100%
    );
    }
   
  body {
    background-image: var(--body-bg);
    color: var(--body-color);
    font-family: 'Firamono', monospace;
  }
   
  a {
    color: var(--link-color);
  }
   
  a:hover {
    color: var(--link-color-hover);
  }
  .dark-mode:root {
      --body-bg:linear-gradient(
        90deg,
        rgb(26, 25, 64)0%,
        rgb(45, 42, 140)100%
    );
      --lua-color: rgb(250, 250, 250);
      --body-color: #c0c5c9;
      --link-color: #dee2e6;
      --link-color-hover: #3cc368;
      --menu-bg: linear-gradient(
        90deg,
    rgb(45, 42, 140)0%,
    rgb(26, 25, 64)100%
    );
}
.apresentacao{
    margin-top:5em;
    height: auto;
    color: white;
    text-align: center;
    font-size: 30px;
}
/*.apresentacao{
    margin: 150px 0 0 120px;
    font-size: 30px;
}
.avatar{
    position: absolute;
    width: auto;
    padding: 0 0 0 45em ;
    width: 25vw;
}*/
.pedro-mota{
    display: flex;
    font-size: 60px;
    justify-content:center;
    height: auto;
    letter-spacing: -7px;
    animation: falha 1s linear infinite;
    font-family: 'Fira Mono', monospace;
}

@keyframes falha {
    2%,60%{
        transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
        transform: translate(-2px,0) skew(0deg);
    }
    62%{
        transform: translate(2px,2px) skew(5deg);
    }
}

div:before,
div:after {
    content: attr(title);
    position: absolute;
   
}

div:before{
    animation: falhaCima 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes falhaCima{
    2%,64%{
        transform: translate(2px, -5px);
    }
    4%,60%{
        transform: translate(-0.5px, -0.5px);
    }
    62%{
        transform: translate(13px,-1px) skew(-13deg);
    }
    
}

div:after{
    animation: falhaBaixo 1.5s linear infinite;
    clip-path: polygon(0 67%, 0% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes falhaBaixo{
    2%,64%{
        transform: translate(2px, 0);
    }
    4%,60%{
        transform: translate(-2px, 0);
    }
    62%{
        transform: translate(-22px,5px) skew(21deg);
    }
}

#menu {
    margin-top: -24px;
    width: 100%;
}
#menu ul {
    font-size: 20px;
    text-align:center;
    padding: 10px;
    margin: 0px 0 15px 0;
    background-image: var(--menu-bg);
}
#menu ul li {
    display: inline; 
}
#menu ul li a {
    margin: 0 auto;
    color: #dee2e6;
    text-decoration: none;
    padding: 15px;
    margin: 5px;
}
.rodape{
    background-color: black;
    color: white;
    width: 100%;
    padding: 7px;
    position: absolute;
	bottom: 0;
}
#switch{
    display: none;
}
span{
    position: absolute;
    padding: 8px;
    background-color: var(--lua-color);
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 89%;
}

